
 <style>
 body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.mainbanner {
    background-color: #9099a2; /* Orange */
    color: #fff;
    padding: 100px 25px;
    font-family: Nothing You Could Do, sans-serif;
}

.container-fluid {
    padding: 60px 50px;

    
}

.withimage{
    background: url('background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

.bg-grey {
    background-color: #f6f6f6;
    font-family: Nothing You Could Do, sans-serif;
}
.bg-white {
    
    font-family: Nothing You Could Do, sans-serif;
}
.navbar {
    margin-bottom: 0;
    background-color: #96858f;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #96858f !important;
    background-color: #d5d5d5 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}



footer .glyphicon {
    font-size: 20px;
    margin-bottom: 10px;
    color: #9099a2;
    padding: 20px 20px;
    
}


</style>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
     <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="book.png" style="width: 40px; height: 40px;"/>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPortfolio">PORTFOLIO</a></li>
        <li><a href="#myContact">CONTACT</a></li>
       <!-- <li><a href="#myAbout">ABOUT</a></li>-->
      </ul>
    </div>
  </div>
</nav>



  <div class="mainbanner text-center">
    <h1>My Portfolio</h1>
    <p>A brief presentation of my latest learnings</p>
  </div>


<!-- Projects list -->
  <div id="myPortfolio" class="container-fluid">
      
  <tasks></tasks>
  
</div>

<!-- Container (Contact) -->
<div id="myContact" class="container-fluid bg-grey">
  <h2>Contact</h2>
  <h4>Feel free to contact me!:</h4>
   <a  class="btn btn-primary btn-sm mailto" href="mailto:javier.perez.losada@gmail.com">
        <span class="glyphicon glyphicon-envelope"></span> E-Mail
    </a>
</div>

<!-- Footer -->
<footer class="footer text-center bg-white">
    
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Up!</p>
</footer>


</body>



